#movie-backdrop {
    width: 100%;
}

/* .container {
    padding-top: 32px;
} */

#actors {
    margin: 24px 16px 0 0;
}

.movieDiv {
    margin-right: 30px;
    /* position: relative; */
    z-index: -1 !important;
    cursor: pointer;

}

.movieDiv:hover .movieImage {
    transform: scale(1.2);
    margin: 0 30px;
    cursor: pointer;
}

.movieImage {
    border-radius: 50px;
    width: 250px;
    height: 250px;
    transition: 1s all ease-in-out;
    position: relative;
    z-index: -1 !important;
}

.actors {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.moviesDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    width: 83%;
    padding-top: 3%;
    padding-bottom: 3%;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    overflow: hidden;
    z-index: 100;
    margin: auto;
}

.genreli {
    display: flex;
    margin: auto;
    margin-left: 10%;
    border-bottom: 1px solid;
}

.cast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    width: 83%;
    padding-top: 3%;
    padding-bottom: 3%;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    overflow: hidden;
    z-index: 100;
    margin: auto;
}